*,
::after,
::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

html {
  overflow-x: hidden;
  width: 100vw;
  scroll-behavior: smooth;
}

html {
  font-family: poppins;
}

@-webkit-keyframes textGradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes textGradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@-webkit-keyframes textAnim {
  0% {
    content: '';
  }
  1% {
    content: 'H';
  }
  2% {
    content: 'Ht';
  }
  3% {
    content: 'Htm';
  }
  4% {
    content: 'Html';
  }
  5% {
    content: 'Htm';
  }
  6% {
    content: 'Ht';
  }
  7% {
    content: 'H';
  }
  8% {
    content: '';
  }
  9% {
    content: 'C';
  }
  10% {
    content: 'Cs';
  }
  11% {
    content: 'Css';
  }
  12% {
    content: 'Cs';
  }
  13% {
    content: 'C';
  }
  14% {
    content: '';
  }
  15% {
    content: 'J';
  }
  16% {
    content: 'Ja';
  }
  17% {
    content: 'Jav';
  }
  18% {
    content: 'Java';
  }
  19% {
    content: 'JavaS';
  }
  20% {
    content: 'JavaSc';
  }
  21% {
    content: 'JavaScr';
  }
  22% {
    content: 'JavaScri';
  }
  23% {
    content: 'JavaScrip';
  }
  24% {
    content: 'JavaScript';
  }
  25% {
    content: 'JavaScrip';
  }
  26% {
    content: 'JavaScri';
  }
  27% {
    content: 'JavaScr';
  }
  28% {
    content: 'JavaSc';
  }
  29% {
    content: 'JavaS';
  }
  30% {
    content: 'Java';
  }
  31% {
    content: 'Jav';
  }
  32% {
    content: 'Ja';
  }
  33% {
    content: 'J';
  }
  34% {
    content: '';
  }
  35% {
    content: 'V';
  }
  36% {
    content: 'Vu';
  }
  37% {
    content: 'Vue';
  }
  38% {
    content: 'Vue.';
  }
  39% {
    content: 'Vue.j';
  }
  40% {
    content: 'Vue.js';
  }
  41% {
    content: 'Vue.j';
  }
  42% {
    content: 'Vue.';
  }
  43% {
    content: 'Vue';
  }
  44% {
    content: 'Vu';
  }
  45% {
    content: 'V';
  }
  46% {
    content: '';
  }
  47% {
    content: 'N';
  }
  48% {
    content: 'No';
  }
  49% {
    content: 'Nod';
  }
  50% {
    content: 'Node';
  }
  51% {
    content: 'Node.';
  }
  52% {
    content: 'Node.j';
  }
  53% {
    content: 'Node.js';
  }
  54% {
    content: 'Node.j';
  }
  55% {
    content: 'Node.';
  }
  56% {
    content: 'Node';
  }
  57% {
    content: 'Nod';
  }
  58% {
    content: 'No';
  }
  59% {
    content: 'N';
  }
  60% {
    content: '';
  }
  61% {
    content: 'M';
  }
  62% {
    content: 'My';
  }
  63% {
    content: 'MyS';
  }
  64% {
    content: 'MySq';
  }
  65% {
    content: 'MySql';
  }
  66% {
    content: 'MySq';
  }
  67% {
    content: 'MyS';
  }
  68% {
    content: 'My';
  }
  69% {
    content: 'M';
  }
  70% {
    content: '';
  }
  100% {
    content: '';
  }
}

@keyframes textAnim {
  0% {
    content: '';
  }
  1% {
    content: 'H';
  }
  2% {
    content: 'Ht';
  }
  3% {
    content: 'Htm';
  }
  4% {
    content: 'Html';
  }
  5% {
    content: 'Htm';
  }
  6% {
    content: 'Ht';
  }
  7% {
    content: 'H';
  }
  8% {
    content: '';
  }
  9% {
    content: 'C';
  }
  10% {
    content: 'Cs';
  }
  11% {
    content: 'Css';
  }
  12% {
    content: 'Cs';
  }
  13% {
    content: 'C';
  }
  14% {
    content: '';
  }
  15% {
    content: 'J';
  }
  16% {
    content: 'Ja';
  }
  17% {
    content: 'Jav';
  }
  18% {
    content: 'Java';
  }
  19% {
    content: 'JavaS';
  }
  20% {
    content: 'JavaSc';
  }
  21% {
    content: 'JavaScr';
  }
  22% {
    content: 'JavaScri';
  }
  23% {
    content: 'JavaScrip';
  }
  24% {
    content: 'JavaScript';
  }
  25% {
    content: 'JavaScrip';
  }
  26% {
    content: 'JavaScri';
  }
  27% {
    content: 'JavaScr';
  }
  28% {
    content: 'JavaSc';
  }
  29% {
    content: 'JavaS';
  }
  30% {
    content: 'Java';
  }
  31% {
    content: 'Jav';
  }
  32% {
    content: 'Ja';
  }
  33% {
    content: 'J';
  }
  34% {
    content: '';
  }
  35% {
    content: 'V';
  }
  36% {
    content: 'Vu';
  }
  37% {
    content: 'Vue';
  }
  38% {
    content: 'Vue.';
  }
  39% {
    content: 'Vue.j';
  }
  40% {
    content: 'Vue.js';
  }
  41% {
    content: 'Vue.j';
  }
  42% {
    content: 'Vue.';
  }
  43% {
    content: 'Vue';
  }
  44% {
    content: 'Vu';
  }
  45% {
    content: 'V';
  }
  46% {
    content: '';
  }
  47% {
    content: 'N';
  }
  48% {
    content: 'No';
  }
  49% {
    content: 'Nod';
  }
  50% {
    content: 'Node';
  }
  51% {
    content: 'Node.';
  }
  52% {
    content: 'Node.j';
  }
  53% {
    content: 'Node.js';
  }
  54% {
    content: 'Node.j';
  }
  55% {
    content: 'Node.';
  }
  56% {
    content: 'Node';
  }
  57% {
    content: 'Nod';
  }
  58% {
    content: 'No';
  }
  59% {
    content: 'N';
  }
  60% {
    content: '';
  }
  61% {
    content: 'M';
  }
  62% {
    content: 'My';
  }
  63% {
    content: 'MyS';
  }
  64% {
    content: 'MySq';
  }
  65% {
    content: 'MySql';
  }
  66% {
    content: 'MySq';
  }
  67% {
    content: 'MyS';
  }
  68% {
    content: 'My';
  }
  69% {
    content: 'M';
  }
  70% {
    content: '';
  }
  100% {
    content: '';
  }
}

@-webkit-keyframes cursorAnim {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes cursorAnim {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#header {
  z-index: 1000;
  width: 100vw;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  min-height: 50px;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  margin-top: 45vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform-origin: center;
          transform-origin: center;
  font-size: 45px;
  background-color: black;
}

#header .text-container {
  font-weight: 800;
  font-style: italic;
  background: linear-gradient(45deg, #800080, #ffc0cb);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-size: 300% 300%;
  -webkit-animation: textGradient 5s ease infinite;
          animation: textGradient 5s ease infinite;
}

body {
  background: black;
  color: white;
}

body main {
  background: #ffc0cb;
}

body main h2 {
  margin-left: 2rem;
  color: #800080;
  position: relative;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 27px;
}

body main h2::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background: linear-gradient(45deg, #800080, #ffc0cb);
  border-radius: 1rem;
}

body main .spacer {
  aspect-ratio: 960/700;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@media screen and (min-width: 550px) {
  body main .spacer {
    aspect-ratio: 960/300;
  }
}

body main .layer1 {
  background-image: url("/svg/layered-waves-haikei.svg");
}

@media screen and (min-width: 550px) {
  body main .layer1 {
    background-image: url("/svg/layered-waves-haikei-tablet.svg");
  }
}

body main .layer2 {
  background-image: url("/svg/layered-waves-haikei-reverse.svg");
}

@media screen and (min-width: 550px) {
  body main .layer2 {
    background-image: url("/svg/layered-waves-haikei-reverse-tablet.svg");
  }
}

body main .layer3 {
  background-image: url("/svg/layered-waves-haikei-experience.svg");
}

@media screen and (min-width: 550px) {
  body main .layer3 {
    background-image: url("/svg/layered-waves-haikei-experience-tablet.svg");
  }
}

body main .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body main .container .inside-container {
  width: 100vw;
  max-width: 900px;
}

body main .container .inside-container .text-moving {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 3rem;
  padding-bottom: 1rem;
  width: 100%;
}

body main .container .inside-container .text-moving .script-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1.5rem;
  color: black;
  font-weight: 400;
}

body main .container .inside-container .text-moving .script-text::after {
  margin-left: 6px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  content: '';
  font-weight: 600;
  color: #800080;
  -webkit-animation: textAnim linear 12s infinite;
          animation: textAnim linear 12s infinite;
}

body main .container .inside-container .text-moving .cursor {
  width: 2px;
  height: 30px;
  background: black;
  -webkit-animation: cursorAnim linear 0.5s alternate infinite;
          animation: cursorAnim linear 0.5s alternate infinite;
}

body main .container-black {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: black;
  -webkit-box-shadow: 0px -5px 2px 2px black, 0px 5px 2px 2px black;
          box-shadow: 0px -5px 2px 2px black, 0px 5px 2px 2px black;
}

body main .container-black h2 {
  padding-top: 5rem;
}

body main .container-black h2::after {
  background: linear-gradient(45deg, #800080, #000);
}

body main .container-black .experience-container {
  margin-top: 2rem;
  width: 100vw;
  max-width: 900px;
  color: #ffc0cb;
}

body main .container-black .experience-container .experience {
  margin: 0 3rem 2rem 3rem;
}

body main .container-black .experience-container .experience .experience-title {
  margin-bottom: 1rem;
}

body main .container-black .experience-container .experience .experience-title h4 {
  font-size: 12px;
}

body main .container-black .experience-container .experience .experience-photo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 550px) {
  body main .container-black .experience-container .experience .experience-photo {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

body main .container-black .experience-container .experience .experience-photo .pic-container img {
  width: 30vw;
  max-width: 7.5rem;
  margin: 2rem 0;
}

@media screen and (min-width: 550px) {
  body main .container-black .experience-container .experience .experience-photo .pic-container img {
    margin: 1rem 5rem 1rem 2rem;
  }
}

body main .container-black .experience-container .experience .experience-photo p {
  text-align: justify;
}

body main .container-black .experience-container .experience .experience-photo a {
  color: #800080;
  font-size: 1.5rem;
  margin-top: 2rem;
}

@media screen and (min-width: 550px) {
  body main .container-black .experience-container .experience .experience-photo a {
    margin-top: 0;
    margin-left: 2rem;
  }
}

body main .container-black .experience-container .experience .experience-photo a:hover {
  color: #ffc0cb;
}

body main .container .contact {
  padding-bottom: 10rem;
  margin-bottom: 3rem;
}

@media screen and (min-width: 900px) {
  body main .container .contact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 600px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

body main .container .contact .profile-pic img {
  width: 15rem;
}

body main .container .contact .links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 2rem;
  width: 15rem;
}

body main .container .contact .links a {
  color: #800080;
  font-size: 1.6rem;
  border-radius: 7px;
  padding: 0 7px;
}

body main .container .contact .links a:hover {
  color: #ffc0cb;
  background-color: #800080;
}
