html {
  // border: 5px solid black;
  overflow-x: hidden;
  width: 100vw;
}

body {
  z-index: 0;
  background: $color-fifth;
  max-width: 1300px;
  position: relative;
  margin: auto;
  // border: 5px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.c1 {
  background-color: $color-fifth;
  width: 35vw;
  height: 35vw;
  max-width: 25rem;
  max-height: 25rem;
  min-width: 20rem;
  min-height: 20rem;
  top: 2rem;
  left: -10rem;
  animation: floatingC1 20s ease-in-out 1s infinite alternate;
}

.c2 {
  background-color: $color-primary;
  width: 25vw;
  height: 25vw;
  max-width: 20rem;
  max-height: 20rem;
  min-width: 15rem;
  min-height: 15rem;
  top: 35rem;
  right: 0;
  animation: floatingC2 16s ease-in-out 1s infinite alternate;
}

.c3 {
  background-color: $color-secondary;
  width: 35vw;
  height: 35vw;
  max-width: 30rem;
  max-height: 30rem;
  min-width: 17rem;
  min-height: 17rem;
  top: 65rem;
  left: 10vw;
  animation: floatingC3 17s ease-in-out 1s infinite alternate;
}

.c4 {
  background-color: $color-accent;
  width: 28vw;
  height: 28vw;
  max-width: 25rem;
  max-height: 25rem;
  min-width: 15rem;
  min-height: 15rem;
  top: 95rem;
  right: 5vw;
  animation: floatingC4 15s ease-in-out 1s infinite alternate;
}

.c5 {
  background-color: $color-fifth;
  width: 35vw;
  height: 35vw;
  max-width: 25rem;
  max-height: 25rem;
  min-width: 20rem;
  min-height: 20rem;
  bottom: 0;
  left: -2rem;
  animation: floatingC5 25s ease-in-out 1.5s infinite alternate;
}

.circle {
  z-index: -1;
  position: absolute;
  border-radius: 50%;
  opacity: 0.3;
  backdrop-filter: blur(5px);
  box-shadow: 0 8px 30px 0 rgba(31, 38, 135, 0.37);
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;

  .main_container {
    position: relative;
    z-index: 10;
    padding: 3rem 0;
    margin: 7rem 0 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90vw;
    max-width: 1150px;
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(7px);
    border-radius: 2em;
    border: 1px solid rgba(255, 255, 255, 0.18);
    @include mobile {
      flex-direction: column;
    }
    .picture {
      img {
        width: 15em;
        border: 0.5em solid rgba(255, 255, 255, 0.25);
        box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
        border-radius: 50%;
      }
    }
    .hello-text {
      margin-left: 2em;
      @include mobile {
        margin-left: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
      }
      .hello {
        font-size: 3em;
        @include mobile {
          font-size: 2rem;
        }
      }
      .text {
        font-size: 2em;
        @include mobile {
          font-size: 1.5rem;
          margin-left: 1rem;
        }
      }
    }
  }
}

//Projets
.project {
  height: 50vh;
  width: 90vw;
  max-width: 1300px;
  display: flex;
  align-items: center;
  scroll-snap-align: start;
  margin-top: 3em;
  @include mobile {
    background: rgba(255, 255, 255, 0.15);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(4.5px);
    border-radius: 2em;
    border: 1px solid rgba(255, 255, 255, 0.18);
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  &_text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 0.5em;
    padding-left: 1em;
    @include notMobile {
      background: rgba(255, 255, 255, 0.15);
      box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
      backdrop-filter: blur(4.5px);
      border-radius: 2em;
      border: 1px solid rgba(255, 255, 255, 0.18);
      height: 20em;
      
    }
    @include mobile {
      width: 90vw;
    }
  }
  img {
    height: 20em;
    border-radius: 2em;
    // margin: 2em 2em 0 2em;
    @include notMobile {
      margin: 0 2em;
    }
    @include mobile {
      // margin-top: 2rem;
      width: 70vw;
      max-width: 25rem;
      height: auto;
    }
  }
}

.reverse {
  flex-direction: row-reverse;
  @include mobile {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}


