#header {
    z-index : 1000;
    width : 100vw;
    height : fit-content;
    min-height : 50px;
    position : sticky;
    top : 0;
    margin-top : 45vh;
    display : flex;
    justify-content: center;
    align-items: center;
    transform-origin: center;
    font-size: 45px;
    background-color : black;
    
    .text-container {
        position: relative;
        font-weight : 800;
        font-style: italic;
        background: linear-gradient(45deg, #800080, #ffc0cb);
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
        background-size: 300% 300%;
        animation: textGradient 5s ease infinite;
        animation : openingPage 3s ease-out;
    }
}