header {
  z-index: 20;
  position: fixed;
  top: 1em;
  left: 50%;
  transform: translate(-50%, 0);
  width: 95vw;
  max-width: 1500px;
  border-radius: 0.7rem;
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  backdrop-filter: blur( 2px );
  .header-container {
    display: flex;
    justify-content: center;
    .logo {
      z-index: 21;
      display: flex;
      align-items: center;
      margin-left: 1em;
      &_left {
        position: relative;
        font-size: 2em;
        margin-right: 0.4em;
        // z-index: 0;
        color: $color-accent;
        &::after {
          content: "";
          position: absolute;
          top: 0.25em;
          left: 1.7em;
          background-color: $color-accent;
          width: 0.1em;
          height: 1em;
        }
      }
      &_right {
        line-height: 1em;
        color: $color-accent;
      }
    }
  }
}