@keyframes appears-img {
    from {
        opacity: 0;
        transform: translateX(-15em);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}
@keyframes appears-img-cnt {
    from {
        transform: translateX(-37em);
    }
    to {
        transform: translateX(0);
    }
}

@keyframes appears-text {
    from {
        opacity: 0;
        transform: translateY(30vh);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes appears-form {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}